html{
    font-size: 62.5%;
}
#wrap{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/グッド.png");
    header{
        display: flex;
        justify-content: flex-end;
        .navbox{
            width: 100px;
            height: 100px;
            background-color: #FF9D9D;
            text-align: center;
            .navline{
                margin-top: 15px;
                display: inline-block;
                background-color: #fff;
                width: 80px;
                height: 8px;
            }
        }
    }
    main{
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows:200px 200px 200px ;
        margin-left: 100px;
        text-align: center;
        p{
            font-size: 2.4em;
            margin-top: 60px;
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .textbox{
            input{
                width: 300px;
                height: 50px;
                border: 1px solid #000;
                border-radius: 15px;
                grid-column: 1/2;
                grid-row: 2/3;
                margin-top: 20px;
                background-color: #fff;
                font-size: 2.4em;
                text-align: center;
            }
            #btn{
                width: 200px;
                height: 50px;
                background-color: #FF9D9D;
                border-radius: 15px;
                grid-column: 1/2;
                grid-row: 3/4;
                margin-top: 150px;
                font-size: 2.4em;
            }
        }
        .menber{
            width: 400px;
            height: 560px;
            background-color: #FF9D9D;
            border-radius: 30px;
            grid-column: 2/3;
            grid-row: 1/4;
            margin-left: 50px;
            table{
                display: flex;
                justify-content: center;
                #tab{
                    .items{
                        display: flex;
                        justify-content: center;
                        margin-top: 10px;
                        td{
                            width: 160px;
                            height: 30px;
                            background-color: #fff;
                            border: 1px solid #000;
                            font-size: 1.8em;
                        }
                        .close{
                            width: 30px;
                            height: 30px;
                            background-color: #fff;
                            margin-left: 10px;
                            border: 1px solid #000;
                        }
                    }
                }
            }
        }
    }
    footer{
        display: flex;
        justify-content: flex-end;
        .nextbtn{
            width: 240px;
            height: 50px;
            background-color: #FF9D9D;
            border-radius: 15px;
            font-size: 2.4em;
            margin: 10px 50px 0 0;
        }
    }
}