html{
    font-size: 62.5%;
}
#wrap{
    width: 100vw;
    height: 100vh;
    background: url("../img/グッド.png");
    header {
        display: flex;
        justify-content: flex-end;
        .nav {
            width: 100px;
            height: 100px;
            background-color: #FF9D9D;
            text-align: center;
            .navline{
                margin-top: 15px;
                display: inline-block;
                background-color: #fff;
                width: 80px;
                height: 8px;
            }
        }
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        .wrapbox{
            background-color: #FF9D9D;
            width: 960px;
            height: 400px;
            margin-top: 10em;
            border-radius: 15px;
            box-shadow: 12px 10px 5px rgb(75, 75, 75);
            text-align: center;
            p{
                font-size: 3.2em;
                line-height: 4;
                font-family: 'Yusei Magic', sans-serif;
                &:nth-child(1){
                    font-size: 4.8em;
                }
            }
        }
    }
    footer{
        .btnbox{
            width: 95%;
            display: flex;
            justify-content: center;
            margin-left: 40px;
            margin-top: 60px;
            .nextbtn{
                width: 240px;
                height: 50px;
                background-color: #FF9D9D;
                font-size: 2.4em;
                border-radius: 30px;
                font-family: 'Yusei Magic', sans-serif;
            }
        }
    }
}