@charset "UTF-8";
html {
  font-size: 62.5%;
}

#wrap {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/グッド.png");
}
#wrap header {
  padding-bottom: 110px;
}
#wrap header #nav {
  width: 100px;
  height: 100px;
  background-color: #FF9D9D;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}
#wrap header #nav .navline {
  display: inline-block;
  position: absolute;
  background-color: #fff;
  width: 80px;
  height: 8px;
  right: 10px;
  transition: 0.4s ease-in-out;
}
#wrap header #nav .navline:nth-child(1) {
  top: 20px;
}
#wrap header #nav .navline:nth-child(2) {
  top: 45px;
}
#wrap header #nav .navline:nth-child(3) {
  top: 70px;
}
#wrap header #nav .navline:nth-child(1).active {
  top: 38px;
  right: 10px;
  transform: translateY(9px) rotate(-45deg);
}
#wrap header #nav .navline:nth-child(2).active {
  opacity: 0;
}
#wrap header #nav .navline:nth-child(3).active {
  top: 60px;
  right: 9px;
  transform: translateY(-9px) rotate(45deg);
}
#wrap header #navlink {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 350px;
  transition: 0.4s ease-in-out;
  background-color: #FF9D9D;
  z-index: 999;
  box-shadow: 12px 10px 5px rgb(75, 75, 75);
}
#wrap header #navlink .nav {
  padding-top: 100px;
  text-align: center;
}
#wrap header #navlink .nav li {
  list-style: none;
  width: 250px;
  height: 90px;
  background-color: #fff;
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 15px;
}
#wrap header #navlink .nav li button {
  height: 90px;
  width: 100%;
  font-size: 2.4em;
  font-family: "Yusei Magic", sans-serif;
}
#wrap header #navlink.open {
  right: 0;
}
#wrap main {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 200px 200px 200px;
  margin-left: 100px;
  text-align: center;
}
#wrap main p {
  font-size: 2.4em;
  margin-top: 60px;
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: "Yusei Magic", sans-serif;
}
#wrap main .textbox input {
  width: 300px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 15px;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 20px;
  background-color: #fff;
  font-size: 2.4em;
  text-align: center;
  font-family: "Yusei Magic", sans-serif;
}
#wrap main .textbox #btn {
  width: 200px;
  height: 50px;
  background-color: #FF9D9D;
  border-radius: 15px;
  grid-column: 1/2;
  grid-row: 3/4;
  margin-top: 150px;
  font-size: 2.4em;
  font-family: "Yusei Magic", sans-serif;
}
#wrap main .menber {
  width: 400px;
  height: 560px;
  background-color: #FF9D9D;
  border-radius: 30px;
  grid-column: 2/3;
  grid-row: 1/4;
  margin-left: 50px;
}
#wrap main .menber table {
  display: flex;
  justify-content: center;
}
#wrap main .menber table #tab .items {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#wrap main .menber table #tab .items td {
  width: 160px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 1.8em;
  font-family: "Yusei Magic", sans-serif;
}
#wrap main .menber table #tab .items .close {
  width: 50px;
  height: 30px;
  background-color: #fff;
  margin-left: 10px;
  border: 1px solid #000;
  font-size: 1.8em;
  font-family: "Yusei Magic", sans-serif;
}
#wrap footer {
  display: flex;
  justify-content: flex-end;
}
#wrap footer .nextbtn {
  width: 240px;
  height: 50px;
  background-color: #FF9D9D;
  border-radius: 15px;
  font-size: 2.4em;
  margin: 10px 50px 0 0;
  font-family: "Yusei Magic", sans-serif;
}