@charset "UTF-8";
html {
  font-size: 62.5%;
}

#wrap {
  width: 100vw;
  height: 100vh;
  background: url("../img/グッド.png");
}
#wrap header {
  display: flex;
  justify-content: flex-end;
}
#wrap header .navbox {
  width: 10em;
  height: 10em;
  background-color: #FF9D9D;
  text-align: center;
}
#wrap header .navbox .navline {
  margin-top: 15px;
  display: inline-block;
  background-color: #fff;
  width: 80px;
  height: 8px;
}
#wrap main {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
#wrap main .mainbox {
  width: 64em;
  height: 20em;
  background-color: #FF9D9D;
}
#wrap main .mainbox #timer {
  font-size: 12em;
  text-align: center;
}
#wrap footer {
  display: flex;
  justify-content: space-around;
  margin-top: 15em;
}
#wrap footer #btntime {
  width: 200px;
  height: 60px;
  background-color: #FF9D9D;
  border-radius: 15px;
  margin-left: 15%;
  font-size: 2.4em;
}
#wrap footer #timerbtn {
  width: 200px;
  height: 60px;
  background-color: #FF9D9D;
  border-radius: 15px;
  margin-right: 15%;
  font-size: 2.4em;
}
#wrap footer #nextbtn {
  width: 200px;
  height: 60px;
  background-color: #FF9D9D;
  border-radius: 15px;
  margin-right: 15%;
  font-size: 2.4em;
}