@charset "UTF-8";
html {
  font-size: 62.5%;
}

#wrap {
  width: 100vw;
  height: 100vh;
  background: url("../img/グッド.png");
}
#wrap header {
  display: flex;
  justify-content: space-between;
}
#wrap header .classnum {
  width: 160px;
  height: 60px;
  background-color: #FF9D9D;
  margin: 70px 0 0 60px;
  font-size: 2.4em;
  text-align: center;
  line-height: 2.5;
}
#wrap header .nav {
  width: 10em;
  height: 10em;
  background-color: #FF9D9D;
  text-align: center;
}
#wrap header .nav .navline {
  margin-top: 15px;
  display: inline-block;
  background-color: #fff;
  width: 80px;
  height: 8px;
}
#wrap main {
  margin-left: 5%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 480px 600px;
  grid-template-rows: 200px 300px;
}
#wrap main .menber {
  width: 48em;
  height: 48em;
  border: 1px solid tomato;
}
#wrap main p {
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 3.2em;
  margin: 90px 0 0 50px;
}
#wrap main .rundam {
  width: 300px;
  height: 300px;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}
#wrap main .rundam input {
  width: 100px;
  height: 100px;
  border: 3px solid #FF9D9D;
  border-radius: 15px;
  font-size: 4.8em;
  text-align: center;
}
#wrap main .rundam p {
  font-size: 2.4em;
  margin-left: 10px;
}
#wrap footer {
  display: flex;
  justify-content: flex-end;
}
#wrap footer .nextbtn {
  width: 320px;
  height: 50px;
  background-color: #FF9D9D;
  font-size: 2em;
  border-radius: 15px;
  margin: 40px 100px 0 0;
}