@charset "UTF-8";
html {
  font-size: 62.5%;
}

#wrap {
  width: 100vw;
  height: 100vh;
  background: url("../img/グッド.png");
}
#wrap header {
  padding-top: 110px;
}
#wrap header #nav {
  width: 100px;
  height: 100px;
  background-color: #FF9D9D;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}
#wrap header #nav .navline {
  display: inline-block;
  background-color: #fff;
  width: 80px;
  height: 8px;
  position: absolute;
  right: 10px;
  transition: 0.4s ease-in-out;
}
#wrap header #nav .navline:nth-child(1) {
  top: 20px;
}
#wrap header #nav .navline:nth-child(2) {
  top: 45px;
}
#wrap header #nav .navline:nth-child(3) {
  top: 70px;
}
#wrap header #nav .navline:nth-child(1).active {
  top: 38px;
  right: 10px;
  transform: translateY(9px) rotate(-45deg);
}
#wrap header #nav .navline:nth-child(2).active {
  opacity: 0;
}
#wrap header #nav .navline:nth-child(3).active {
  top: 60px;
  right: 9px;
  transform: translateY(-9px) rotate(45deg);
}
#wrap header #navlink {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 350px;
  transition: 0.4s ease-in-out;
  background-color: #FF9D9D;
  z-index: 999;
  box-shadow: 12px 10px 5px rgb(75, 75, 75);
}
#wrap header #navlink .nav {
  padding-top: 100px;
  text-align: center;
}
#wrap header #navlink .nav li {
  list-style: none;
  width: 250px;
  height: 90px;
  background-color: #fff;
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 15px;
}
#wrap header #navlink .nav li button {
  height: 90px;
  width: 100%;
  font-size: 2.4em;
  font-family: "Yusei Magic", sans-serif;
}
#wrap header #navlink.open {
  right: 0;
}
#wrap main {
  margin-left: 5%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 480px 600px;
  grid-template-rows: 200px 300px;
}
#wrap main .menber {
  width: 480px;
  height: 480px;
}
#wrap main .menber #tab {
  width: 480px;
  height: 480px;
}
#wrap main .menber #tab tr {
  width: 100%;
}
#wrap main .menber #tab tr td {
  width: 240px;
  border: #000 solid 1px;
  background-color: #fff;
}
#wrap main p {
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 3.2em;
  margin: 90px 0 0 50px;
}
#wrap main .rundam {
  width: 300px;
  height: 300px;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}
#wrap main .rundam input {
  width: 100px;
  height: 100px;
  border: 3px solid #FF9D9D;
  border-radius: 15px;
  font-size: 4.8em;
  text-align: center;
}
#wrap main .rundam p {
  font-size: 2.4em;
  margin-left: 10px;
}
#wrap footer {
  display: flex;
  justify-content: flex-end;
}
#wrap footer .nextbtn {
  width: 320px;
  height: 50px;
  background-color: #FF9D9D;
  font-size: 2em;
  border-radius: 15px;
  margin: 40px 100px 0 0;
}