@charset "UTF-8";
html {
  font-size: 62.5%;
}

#wrap {
  width: 100vw;
  height: 100vh;
  background: url("../img/グッド.png");
}
#wrap header {
  display: flex;
  justify-content: flex-end;
}
#wrap header .nav {
  width: 100px;
  height: 100px;
  background-color: #FF9D9D;
  text-align: center;
}
#wrap header .nav .navline {
  margin-top: 15px;
  display: inline-block;
  background-color: #fff;
  width: 80px;
  height: 8px;
}
#wrap main {
  width: 100%;
  height: 100%;
}
#wrap main td {
  width: 40px;
  height: 30px;
  border: 1px solid #000;
}
#wrap main td:nth-child(3) {
  width: 160px;
  height: 30px;
  border: 1px solid #000;
}
#wrap footer .nextbtn {
  width: 160px;
  height: 50px;
  background-color: #FF9D9D;
  border-radius: 15px;
  font-size: 2.4em;
}
#wrap footer .btnrandam {
  width: 240px;
  height: 50px;
  background-color: #FF9D9D;
  font-size: 2.4em;
  border-radius: 15px;
}